/* ----------- Container ----------- */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}
.container-fluid,  {
  padding-left: 24px;
  padding-right: 24px;
}

/* ----------- Navigation ----------- */
@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }

}
#navbar {
  z-index: 1;
  border-bottom: 1px solid lightgray;
  background-color: white;
}
#navbarMenuToggler, #xlNavbar .navbar-brand,  #xlNavbar .nav-link {
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}

#xlNavbar .navbar-brand {
  color: #0C2F58;
}

#xlNavbar .nav-link {
  color: #AF7F6B;
}

#xlNavbar .nav-link:hover {
  text-decoration: underline;
  color: #0C2F58;
}

#navbarMenuToggler {
  transition: color 0.25s;
  z-index: 1;
}
#navbarMenuToggler.collapsed {
  color: #AF7F6B;
}
#navbarMenu .nav-link {
  color:  #AF7F6B;
  font-size:14pt;
  font-weight: 350;
}
#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 65px;
  
}
#navbarMenu .nav-link {
  padding: 5px 0;
}

#navbarMenu .nav-link:hover {
    text-decoration: underline;
	color: #0C2F58;
}

.nav-image img{
	height:30px;
}





/* ----------- Hero ----------- */
#hero {
  background-image: url(./images/backsplash6b.jpg);
  background-size: cover;
  background-position: center bottom;
}


@media (min-width: 1200px) {
  #hero {
    height: 75vh;
    min-height: 50px;
  }
}


  
  

@media (min-width: 1200px) {
  #hero-container {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .hero-content {
	padding: 32px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    max-width: 441px;
  } 
}


.social_icon {
	display:inline;
	height:40px;
	margin-top:10px;
	margin-right:10px
}





/* ----------- Body ----------- */
body {
	color: #4B4744;
	font-weight: 350;
}

a {
	text-decoration: none;
	color: #AF7F6B;
	font-size: 18pt;

}


a:hover {
	text-decoration: underline;
	color: #0C2F58;
	
}

@media (min-width: 1200px) {
  .right-divider {
    border-right:1px solid lightgray;
  }
}



h2, h3, h4{
	color: #0C2F58;
}
.body-content {
	padding-top: 100px;

}
.img-responsive {
	display:block;
	max-width:100%;
	height:auto
	
}


/* ----------- Blog ----------- */
.blog-title {
	font-weight: 600;
	font-size: 14pt;
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 10px;
}
.blog-title a:hover {
	text-decoration: underline;
	color: #0C2F58;
}


/* ----------- Footer ----------- */
.footer {
	font-size: 11pt;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer a{
	font-size: 11pt;
}
.footer a:hover{
	text-decoration: underline;
	
}
