/* ----------- Container ----------- */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}
.container-fluid,  {
  padding-left: 24px;
  padding-right: 24px;
}

/* ----------- Navigation ----------- */
@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
  #xlNavbar .nav-link div:hover {
    border-bottom: 2px solid #fff;
  }
}
#navbar {
  z-index: 1;
}
#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}
#xlNavbar .nav-link {
  font-size: 14px;
 
}
#navbarMenuToggler {
  color: rgb(255, 90, 95);
  transition: color 0.25s;
  z-index: 1;
}
#navbarMenuToggler.collapsed {
  color: #fff;
}
#navbarMenu .nav-link {
  color: #333;
  font-size:14pt;
}
#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}
#navbarMenu .nav-link {
  padding: 12px 0;
}
.nav-image img{
	height:30px;
}





/* ----------- Hero ----------- */
#hero {
  background-image: url(./images/luca-bravo-121931-unsplash.jpg);
  background-size: cover;
  background-position: center bottom;
}
#hero h2 {
  padding-top: 168px;
}
#message {
  bottom: 0;
  right: 0;
}
@media (min-width: 1200px) {
  #hero {
    height: 100vh;
    min-height: 650px;
  }
}

@media (min-width: 1200px) {
  #hero-container {
    position: absolute;
    top: 120px;
    width: 100%;
  }

  .hero-content {
	padding: 32px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    max-width: 441px;
}





/* ----------- Body ----------- */
body {
	color: #4B4744;
	font-weight: 350;
}

a {
	text-decoration: none;
	color: #4B4744;
	font-size: 18pt;

}
@media (min-width: 1200px) {
  .right-divider {
    border-right:1px solid lightgray;
  }
}


a:hover {
	text-decoration: none;
	color: #149A8F;
	
}
.body-content {
	padding-top: 100px;

}
.blog-caption {
	text-transform: uppercase;
	font-size: 8pt;
	font-weight: 650;

}
.blog-caption a {
	text-decoration: none;
	color: #149A8F;
	font-size: 8pt;
}
.blog-caption a:hover {
	text-decoration: underline;
	color: #497671;

}
.img-responsive {
	display:block;
	max-width:100%;
	height:auto
	
}

/* ----------- Hero----------- */
.hero-title {
	font-weight: 600;
	font-size: 20pt;
	line-height: 1.4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.hero-title a:hover {
	text-decoration: underline;
	color: #4B4744;
}

/* ----------- Blog ----------- */
.blog-title {
	font-weight: 600;
	font-size: 14pt;
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 10px;
}
.blog-title a:hover {
	text-decoration: underline;
	color: #4B4744;
}
.blog-image {
	
}
.blog1 {
	background-image: url(./images/flags.jpg);
}

/* ----------- Footer ----------- */
.footer {
	font-size: 11pt;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer a{
	font-size: 11pt;
	color: #9b9b9b;
}
.footer a:hover{
	text-decoration: underline;
	
}
.float-left {

	padding-bottom: 30;
}
.float-right {
	text-align: right;
	padding-bottom: 30px;
}
.float-right img{
	height:23px;
}